body{
    background-color: #000616;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
    color: azure;
}

h1{
    color: #D4ADFC;
    font-size: 80px;
    font-family: "Rowdies", sans-serif;
    margin-top: 10px;
}


section{
    min-height: 100px;
    padding: 1rem 10% 1rem;
    background-color: #0b011d;
    border-radius: 100px;

}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 50px;
    color: #274be9;
    font-size: 20px;
}

span{
    color: rgb(24, 231, 231);
}

h3{
    margin-bottom: 25px;
    margin-top: 10px;
    line-height: 1;
    font-size: 50px;
    color: rgb(24, 231, 231);
}

.home img{
    border-radius: 50%;
    position: relative;
    top: 10px ;
    width: 400px;
    box-shadow: 0 0 25px #00109e;
    margin: 30px;

}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 8%;
    gap:  30px;
}

.about img{
    position: relative;
    width: 550px;
    border-radius: 50px;
}

.about h3{
    position:relative;
    font-size: 50px;
    color: #A459D1;
}

.about h2{
    text-align: left;
}

.content-about{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 10px;
    color: #d5d9e9;
    font-size: 20px;
}


.social_media{
    position: relative;
    text-align: center;
    background-color: bisque;
    border-radius: 100px;
    width: 500px;
    height: 150px;
    margin-left: 400px;
}

.social_media h3 {
    color: #0b011d;
    font-size: 30px;
}

.social_media img {
    width: 80px;
    margin: 0 8px 0 8px;
}

.album{
    display: flex;
    padding: 50px;
    justify-content: center;
}


.album img{
    position: relative;
    width: 250px;
    border-radius: 50px;
    margin: 20px;
}

.integrantes{
    display: flex;
    padding: 50px;
    justify-content: center;
}

.integrantes img{
    position: relative;
    width: 250px;
    border-radius: 50px;
    margin: 20px;
}

.info{
    display: flex;

}

footer{
    background-color: #050f2b;
    width: 100%;
    height: 200px;
    display: flex;
}

form{
    margin: 20px;
}

input{
    width: 300px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(56, 2, 56);
    color: aliceblue;
    border: 5px #d5d9e9;
    padding: 10px;
    margin: 5px;
}

